*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100vh; /* Высота на весь экран */
  margin-inline: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

input {
  appearance: none;
}

.custom-scrollbar::-webkit-scrollbar {
  inline-size: 4px;
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "result content__details";
  column-gap: 30px;
  padding: 0 30px;
  align-items: flex-end;
}

.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  display: grid;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  width: 711px;
  height: 386px;
}

.search-form {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label-text {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label:active {
  outline: 1px solid #fff;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text,
.search-form__label:hover .search-form__pseudo-checkbox {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-bottom: 8px;
}

.search-form__textfield {
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  border-inline-start: none;
  border-inline-end: none;
  padding-block: 3px;
  font-size: 18px;
  min-inline-size: 225px;
  outline: none;
}

.search-form__checkbox.visually-hidden {
  display: none;
}

.search-form__pseudo-checkbox {
  inline-size: 20px;
  block-size: 20px;
  border: 1px solid white;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: all 0.3s;
}

.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: transparent;
  border-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  inline-size: 16px;
  block-size: 16px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.video-section {
  position: relative;
}


.content__details {
  grid-area: content__details; /* Назначаем область для content__details */
  width: 100%;
  height: 100%;
  align-self: flex-end;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
  font-weight: bold;
  margin-block-end: 19px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  block-size: 298px;
  overflow: auto;
}

.content__list {
  object-position: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content__list > *:not(:last-child) {
  margin-block-end: 26px;
}

.content__list::-webkit-scrollbar {
  inline-size: 4px;
  width: 4px;
}

.content__list::-webkit-scrollbar-thumb {
  background: #fff;
}

.content__list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.content__list::-webkit-scrollbar-track {
  background: #222;
}

.content__list::-webkit-scrollbar-corner {
  background: #111;
}

.content__list-item {
  display: flex;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}


.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 390px;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
}

.content__video-card-description-container:active {
  background-color: #545050;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-inline-size: 190px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 0.9;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 196px;
  height: 103px;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  cursor: pointer;
  block-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  display: flex;
  inline-size: 194px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  justify-self: flex-end;
  align-self: flex-end;
}

.more-button {
  inline-size: 100%;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  margin-block-start: 30px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}